#MapForPeople {
  background: rgba(251, 184, 124);
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: -1;
}


#MapForPeople h4 {
  color: rgb(60, 60, 60);
}
.container-info {
  padding-bottom: 30px;
}
.container-info h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "GveretLevin", sans-serif;
  margin: 10px ;
}
.container-button {
  padding-top: 50px;
}
.top-img-container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.top-img {
  display: flex;
  position: absolute;
  background-image: url("../../../public//Images/ללא\ שם.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 380px;
  height: 320px;
  margin-top: -50px;
  left: -190px;
  top: -130px;
  z-index: -1;
  transform: rotate(-43deg);
}

iframe{
  border-radius: 4px;
}
@media screen and (max-width: 701px) {
  #MapForPeople iframe {
    width: 500px;
    height: 260px;
  }
  .container-info h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 551px) {
  #MapForPeople iframe {
    width: 300px;
    height: 250px;
  }
  .top-img {
    width: 300px;
    height: 240px;
    left: -160px;
  }
}

@media screen and (max-width: 420px) {
  .top-img {
    width: 250px;
    height: 200px;
    left: -140px;
    top: -70px;
  }
}

@media screen and (max-width: 320px) {
  #MapForPeople iframe {
    width: 260px;
    height: 240px;
  }
}
