#AcceptEvent {
  height: 100vh;
}

.buttons-container {
  display: grid;
  grid-auto-flow: column;
  height: 80%;
  width: 40%;
}

@media screen and (max-width: 910px) {
  .buttons-container {
    width: 60%;
  }
}

@media screen and (max-width: 710px) {
  .buttons-container {
    width: 80%;
  }
}

@media screen and (max-width: 510px) {
  .buttons-container {
    width: 96%;
  }
}
